.center {
  width: 93.6%;
  margin: 0 auto;
  position: relative; }

.header {
  width: 100%;
  height: 1.408rem;
  background-color: #00408f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001; }
  .header .center {
    overflow: hidden;
    height: 1.408rem; }
  .header .logo {
    display: block;
    width: 1.44rem;
    height: 1.008rem;
    margin: 0.192rem auto 0; }
    .header .logo img {
      display: block;
      width: 1.44rem;
      height: 1.008rem; }
  .header .menu {
    width: 0.576rem; }
    .header .menu .show {
      position: absolute;
      top: 0.48rem;
      right: 0;
      display: block;
      width: 0.576rem;
      z-index: 10; }
    .header .menu .hide {
      opacity: 0;
      position: absolute;
      top: 0.384rem;
      right: 0;
      display: block;
      width: 0.576rem;
      z-index: 1; }
  .header .fir_menu {
    display: none;
    width: 50%;
    padding-left: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    z-index: 1001;
    overflow-y: scroll; }
    .header .fir_menu .fir_item {
      width: 100%;
      border-bottom: 1px solid #fff;
      background-color: #235ea7; }
      .header .fir_menu .fir_item .fir_link {
        display: block;
        width: 100%;
        height: 1.12rem;
        color: #fff;
        line-height: 1.12rem;
        text-indent: 1.6rem; }
      .header .fir_menu .fir_item .sec_menu {
        display: none;
        width: 100%;
        overflow: hidden;
        background-color: #fff; }
        .header .fir_menu .fir_item .sec_menu .sec_item {
          width: 100%; }
          .header .fir_menu .fir_item .sec_menu .sec_item .sec_link {
            text-align: center;
            display: block;
            height: 0.96rem;
            color: #000;
            line-height: 0.96rem; }

.header_be {
  height: 1.408rem; }

.banner {
  width: 100%;
  height: 6.4rem; }
  .banner .banner_item {
    width: 100%;
    height: 6.4rem; }
    .banner .banner_item a {
      display: block;
      width: 100%;
      height: 6.4rem; }
      .banner .banner_item a img {
        display: block;
        width: 100%;
        height: 6.4rem; }
  .banner .swiper-pagination {
    bottom: 0.4rem; }
    .banner .swiper-pagination .swiper-pagination-bullet {
      width: 0.128rem;
      height: 0.128rem;
      border-radius: 50%;
      background-color: #fff;
      margin: 0 0.096rem;
      opacity: 1; }
    .banner .swiper-pagination .swiper-pagination-bullet-active {
      border: 0.048rem solid #d8e7f7;
      position: relative;
      top: 0.048rem; }

.sc1 {
  overflow: hidden;
  background-image: url(../images/sc1bg.png);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 0.48rem; }
  .sc1 .title {
    width: 100%;
    text-align: center;
    margin-top: 0.912rem; }
    .sc1 .title span {
      display: inline-block;
      font-size: 0.544rem;
      line-height: 0.544rem;
      color: #00408f;
      position: relative;
      padding: 0 0.224rem; }
      .sc1 .title span:before {
        position: absolute;
        content: '';
        background-image: url(../images/title_left.png);
        background-repeat: no-repeat;
        background-position: right 0 center;
        width: 2.768rem;
        height: 0.128rem;
        left: -2.768rem;
        top: 0.208rem; }
      .sc1 .title span:after {
        position: absolute;
        content: '';
        background-image: url(../images/title_right.png);
        background-repeat: no-repeat;
        background-position: left 0 center;
        width: 2.768rem;
        height: 0.128rem;
        right: -2.768rem;
        top: 0.208rem; }
  .sc1 .sub_title {
    width: 100%;
    font-size: 0.384rem;
    line-height: 0.384rem;
    color: #00408f;
    margin-top: 0.48rem;
    text-align: center; }
  .sc1 .text {
    width: 10.352rem;
    font-size: 0.384rem;
    line-height: 0.768rem;
    color: #666;
    margin: 0.736rem auto 0;
    text-align: center; }
  .sc1 .video_box {
    width: 10.944rem;
    height: 6.64rem;
    margin: 0.592rem auto 0; }
    .sc1 .video_box video {
      width: 10.944rem;
      height: 6.64rem; }

.sc2 {
  overflow: hidden;
  padding-bottom: 0.48rem; }
  .sc2 .title {
    width: 100%;
    text-align: center;
    margin-top: 0.912rem; }
    .sc2 .title span {
      display: inline-block;
      font-size: 0.544rem;
      line-height: 0.544rem;
      color: #00408f;
      position: relative;
      padding: 0 0.224rem; }
      .sc2 .title span:before {
        position: absolute;
        content: '';
        background-image: url(../images/title_left.png);
        background-repeat: no-repeat;
        background-position: right 0 center;
        width: 2.768rem;
        height: 0.128rem;
        left: -2.768rem;
        top: 0.208rem; }
      .sc2 .title span:after {
        position: absolute;
        content: '';
        background-image: url(../images/title_right.png);
        background-repeat: no-repeat;
        background-position: left 0 center;
        width: 2.768rem;
        height: 0.128rem;
        right: -2.768rem;
        top: 0.208rem; }
  .sc2 .news_group {
    margin-top: 0.72rem; }
    .sc2 .news_group li:first-child {
      padding-bottom: 0.48rem;
      border-bottom: 1px solid #dedede; }
      .sc2 .news_group li:first-child img {
        display: block;
        width: 4.24rem;
        height: 2.448rem;
        float: left;
        margin-right: 0.32rem; }
      .sc2 .news_group li:first-child .name {
        font-size: 0.384rem;
        line-height: 0.576rem;
        color: #505050;
        height: 1.152rem;
        overflow: hidden; }
      .sc2 .news_group li:first-child .date {
        font-size: 0.384rem;
        line-height: 0.416rem;
        color: #9e9e9e;
        margin-top: 0.864rem; }
    .sc2 .news_group li {
      padding-top: 0.464rem;
      padding-bottom: 0.48rem;
      border-bottom: 1px solid #dedede; }
      .sc2 .news_group li a {
        display: block; }
        .sc2 .news_group li a .name {
          font-size: 0.384rem;
          line-height: 0.576rem;
          color: #505050;
          height: 0.576rem;
          overflow: hidden; }
        .sc2 .news_group li a .summary {
          font-size: 0.384rem;
          line-height: 0.576rem;
          color: #9e9e9e;
          height: 1.152rem;
          overflow: hidden;
          margin-top: 0.448rem; }
        .sc2 .news_group li a .date {
          font-size: 0.384rem;
          line-height: 0.416rem;
          color: #9e9e9e;
          text-align: right; }
  .sc2 .more {
    display: block;
    width: 2.56rem;
    height: 0.928rem;
    font-size: 0.384rem;
    line-height: 0.928rem;
    text-align: center;
    color: #fff;
    margin: 0.48rem auto 0;
    background-color: #00408f;
    border-radius: 0.192rem; }

.sc3 {
  overflow: hidden;
  background-image: url(../images/sc3bg.png);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 0.8rem; }
  .sc3 .title {
    width: 100%;
    text-align: center;
    margin-top: 0.912rem; }
    .sc3 .title span {
      display: inline-block;
      font-size: 0.544rem;
      line-height: 0.544rem;
      color: #00408f;
      position: relative;
      padding: 0 0.224rem; }
      .sc3 .title span:before {
        position: absolute;
        content: '';
        background-image: url(../images/title_left.png);
        background-repeat: no-repeat;
        background-position: right 0 center;
        width: 2.768rem;
        height: 0.128rem;
        left: -2.768rem;
        top: 0.208rem; }
      .sc3 .title span:after {
        position: absolute;
        content: '';
        background-image: url(../images/title_right.png);
        background-repeat: no-repeat;
        background-position: left 0 center;
        width: 2.768rem;
        height: 0.128rem;
        right: -2.768rem;
        top: 0.208rem; }
  .sc3 .product_clas_group {
    width: 100%;
    overflow: hidden;
    margin-top: 0.64rem;
    text-align: center; }
    .sc3 .product_clas_group li {
      display: inline-block;
      width: 2.048rem;
      height: 0.896rem;
      border: 1px solid #5174c6;
      border-radius: 0.096rem;
      margin-left: 0.096rem;
      margin-right: 0.096rem;
      margin-bottom: 0.224rem; }
      .sc3 .product_clas_group li a {
        display: block;
        width: 100%;
        height: 0.896rem;
        font-size: 0.384rem;
        line-height: 0.896rem;
        color: #00408f;
        text-align: center; }
  .sc3 .product_swiper {
    height: 3.2rem;
    margin-top: 1.696rem; }
    .sc3 .product_swiper .swiper-slide {
      width: 3.2rem;
      height: 2.944rem;
      margin-top: 0;
      text-align: center; }
      .sc3 .product_swiper .swiper-slide a {
        display: inline-block; }
        .sc3 .product_swiper .swiper-slide a img {
          width: 3.2rem;
          height: 2.944rem;
          display: block; }
    .sc3 .product_swiper .swiper-slide-prev {
      width: 3.2rem;
      height: 2.944rem;
      margin-top: 0;
      text-align: center;
      transition: all 0.3s; }
      .sc3 .product_swiper .swiper-slide-prev a {
        display: inline-block;
        transition: all 0.3s;
        width: 3.2rem;
        height: 2.944rem; }
        .sc3 .product_swiper .swiper-slide-prev a img {
          display: block;
          transition: all 0.3s;
          width: 3.2rem;
          height: 2.944rem; }
    .sc3 .product_swiper .swiper-slide-active {
      width: 4rem;
      height: 3.68rem;
      margin-top: -1.024rem;
      text-align: center;
      transition: all 0.3s; }
      .sc3 .product_swiper .swiper-slide-active a {
        display: inline-block;
        transition: all 0.3s;
        width: 4rem;
        height: 3.68rem; }
        .sc3 .product_swiper .swiper-slide-active a img {
          display: block;
          transition: all 0.3s;
          width: 4rem;
          height: 3.68rem; }
    .sc3 .product_swiper .swiper-slide-next {
      width: 3.2rem;
      height: 2.944rem;
      text-align: center;
      margin-top: 0;
      transition: all 0.3s; }
      .sc3 .product_swiper .swiper-slide-next a {
        display: inline-block;
        transition: all 0.3s;
        width: 3.2rem;
        height: 2.944rem; }
        .sc3 .product_swiper .swiper-slide-next a img {
          display: block;
          transition: all 0.3s;
          width: 3.2rem;
          height: 2.944rem; }

.sc4 {
  overflow: hidden;
  background-image: url(../images/sc4bg.png);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 0.8rem; }
  .sc4 .center {
    margin-top: 0.64rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.63); }
  .sc4 .title {
    width: 100%;
    text-align: center;
    margin-top: 0.48rem; }
    .sc4 .title span {
      display: inline-block;
      font-size: 0.544rem;
      line-height: 0.544rem;
      color: #00408f;
      position: relative;
      padding: 0 0.224rem; }
      .sc4 .title span:before {
        position: absolute;
        content: '';
        background-image: url(../images/title_left.png);
        background-repeat: no-repeat;
        background-position: right 0 center;
        width: 2.768rem;
        height: 0.128rem;
        left: -2.768rem;
        top: 0.208rem; }
      .sc4 .title span:after {
        position: absolute;
        content: '';
        background-image: url(../images/title_right.png);
        background-repeat: no-repeat;
        background-position: left 0 center;
        width: 2.768rem;
        height: 0.128rem;
        right: -2.768rem;
        top: 0.208rem; }
  .sc4 .brand_group {
    text-align: center;
    margin-top: 1.2rem; }
    .sc4 .brand_group li {
      display: inline-block;
      width: 2.88rem;
      height: 1.184rem;
      margin: 0 0.352rem 0.864rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto; }

.sc5 {
  overflow: hidden;
  padding-bottom: 0.8rem; }
  .sc5 .title {
    width: 100%;
    text-align: center;
    margin-top: 0.48rem; }
    .sc5 .title span {
      display: inline-block;
      font-size: 0.544rem;
      line-height: 0.544rem;
      color: #00408f;
      position: relative;
      padding: 0 0.224rem; }
      .sc5 .title span:before {
        position: absolute;
        content: '';
        background-image: url(../images/title_left.png);
        background-repeat: no-repeat;
        background-position: right 0 center;
        width: 2.768rem;
        height: 0.128rem;
        left: -2.768rem;
        top: 0.208rem; }
      .sc5 .title span:after {
        position: absolute;
        content: '';
        background-image: url(../images/title_right.png);
        background-repeat: no-repeat;
        background-position: left 0 center;
        width: 2.768rem;
        height: 0.128rem;
        right: -2.768rem;
        top: 0.208rem; }
  .sc5 .team_group {
    width: 110%;
    overflow: hidden;
    margin-top: 0.64rem; }
    .sc5 .team_group li {
      width: 5.456rem;
      float: left;
      margin-right: 0.32rem;
      margin-bottom: 0.24rem; }
      .sc5 .team_group li img {
        display: block;
        width: 5.456rem;
        height: 5.024rem; }
      .sc5 .team_group li .text {
        height: 1.168rem;
        font-size: 0.384rem;
        color: #333;
        line-height: 1.168rem;
        text-align: center; }
  .sc5 .more {
    display: block;
    width: 2.56rem;
    height: 0.928rem;
    font-size: 0.384rem;
    line-height: 0.928rem;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    background-color: #00408f;
    border-radius: 0.192rem; }

.sc6 {
  overflow: hidden;
  background-image: url(../images/sc3bg.png);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 0.8rem; }
  .sc6 .title {
    width: 100%;
    text-align: center;
    margin-top: 0.912rem; }
    .sc6 .title span {
      display: inline-block;
      font-size: 0.544rem;
      line-height: 0.544rem;
      color: #00408f;
      position: relative;
      padding: 0 0.224rem; }
      .sc6 .title span:before {
        position: absolute;
        content: '';
        background-image: url(../images/title_left.png);
        background-repeat: no-repeat;
        background-position: right 0 center;
        width: 2.768rem;
        height: 0.128rem;
        left: -2.768rem;
        top: 0.208rem; }
      .sc6 .title span:after {
        position: absolute;
        content: '';
        background-image: url(../images/title_right.png);
        background-repeat: no-repeat;
        background-position: left 0 center;
        width: 2.768rem;
        height: 0.128rem;
        right: -2.768rem;
        top: 0.208rem; }
  .sc6 .environment_clas_group {
    width: 100%;
    overflow: hidden;
    margin-top: 0.64rem;
    text-align: center; }
    .sc6 .environment_clas_group li {
      display: inline-block;
      width: 2.048rem;
      height: 0.896rem;
      border: 1px solid #5174c6;
      border-radius: 0.096rem;
      margin-left: 0.096rem;
      margin-right: 0.096rem;
      margin-bottom: 0.224rem; }
      .sc6 .environment_clas_group li a {
        display: block;
        width: 100%;
        height: 0.896rem;
        font-size: 0.384rem;
        line-height: 0.896rem;
        color: #00408f;
        text-align: center; }
  .sc6 .environment_swiper {
    height: 3.2rem;
    margin-top: 1.696rem; }
    .sc6 .environment_swiper .swiper-slide {
      width: 3.2rem;
      height: 2.944rem;
      margin-top: 0;
      text-align: center; }
      .sc6 .environment_swiper .swiper-slide a {
        display: inline-block; }
        .sc6 .environment_swiper .swiper-slide a img {
          width: 3.2rem;
          height: 2.944rem;
          display: block; }
    .sc6 .environment_swiper .swiper-slide-prev {
      width: 3.2rem;
      height: 2.944rem;
      margin-top: 0;
      text-align: center;
      transition: all 0.3s; }
      .sc6 .environment_swiper .swiper-slide-prev a {
        display: inline-block;
        transition: all 0.3s;
        width: 3.2rem;
        height: 2.944rem; }
        .sc6 .environment_swiper .swiper-slide-prev a img {
          display: block;
          transition: all 0.3s;
          width: 3.2rem;
          height: 2.944rem; }
    .sc6 .environment_swiper .swiper-slide-active {
      width: 4rem;
      height: 3.68rem;
      margin-top: -1.024rem;
      text-align: center;
      transition: all 0.3s; }
      .sc6 .environment_swiper .swiper-slide-active a {
        display: inline-block;
        transition: all 0.3s;
        width: 4rem;
        height: 3.68rem; }
        .sc6 .environment_swiper .swiper-slide-active a img {
          display: block;
          transition: all 0.3s;
          width: 4rem;
          height: 3.68rem; }
    .sc6 .environment_swiper .swiper-slide-next {
      width: 3.2rem;
      height: 2.944rem;
      text-align: center;
      margin-top: 0;
      transition: all 0.3s; }
      .sc6 .environment_swiper .swiper-slide-next a {
        display: inline-block;
        transition: all 0.3s;
        width: 3.2rem;
        height: 2.944rem; }
        .sc6 .environment_swiper .swiper-slide-next a img {
          display: block;
          transition: all 0.3s;
          width: 3.2rem;
          height: 2.944rem; }

.footer {
  width: 100%;
  height: 1.52rem;
  background-color: #333;
  text-align: center;
  color: #999;
  font-size: 0.32rem;
  line-height: 0.56rem;
  padding-top: 0.32rem;
  padding-bottom: 2.336rem; }
  .footer a {
    color: #999; }

.footer_tab {
  width: 100%;
  height: 2.336rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #00408f;
  z-index: 1000; }
  .footer_tab .tab:first-child {
    background: none; }
  .footer_tab .tab {
    width: 25%;
    height: 2.336rem;
    background-image: url(../images/footer_bg.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 1px 1.6rem;
    float: left;
    overflow: hidden; }
    .footer_tab .tab a {
      display: block; }
    .footer_tab .tab .icon {
      width: 0.96rem;
      height: 0.944rem;
      margin: 0.368rem auto 0; }
      .footer_tab .tab .icon img {
        display: block;
        width: 0.96rem;
        height: 0.944rem; }
    .footer_tab .tab .text {
      width: 100%;
      font-size: 0.448rem;
      line-height: 0.64rem;
      color: #fff;
      text-align: center;
      padding-top: 0.16rem; }

.pbi {
  width: 100%;
  height: 11.04rem;
  position: relative;
  font-size: 0; }
  .pbi img {
    display: block;
    height: 11.04rem;
    width: 100%; }
  .pbi .sp {
    position: absolute;
    left: auto;
    right: 0.48rem;
    bottom: 0.464rem;
    text-align: center;
    width: 1.344rem;
    height: 0.8rem;
    color: #fff;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.4rem;
    font-size: 0.384rem;
    line-height: 0.8rem; }

.info_box {
  background-color: #fff; }
  .info_box .center {
    padding-bottom: 0.448rem;
    position: relative;
    overflow: hidden; }
    .info_box .center .title {
      font-size: 0.48rem;
      line-height: 0.928rem;
      color: #282828;
      margin-top: 0.272rem;
      width: 100%;
      height: 0.928rem;
      overflow: hidden; }
    .info_box .center .abstract {
      font-size: 0.384rem;
      line-height: 0.768rem;
      color: #828282;
      width: 100%;
      height: 1.536rem;
      overflow: hidden; }
    .info_box .center .ml {
      font-size: 0.384rem;
      line-height: 0.384rem;
      color: #333;
      margin-top: 0.256rem; }
    .info_box .center .price {
      font-size: 0.384rem;
      line-height: 0.384rem;
      color: #00408f;
      margin-top: 0.48rem; }
    .info_box .center .star {
      height: 0.56rem;
      position: absolute;
      bottom: 0.896rem;
      right: 0; }
      .info_box .center .star span {
        display: block;
        width: 0.576rem;
        height: 0.56rem;
        background-image: url(../images/star.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 0.576rem 0.56rem;
        float: right; }

.main_info {
  background-color: #fff;
  width: 100%;
  margin-top: 0.32rem; }
  .main_info .card_title {
    width: 100%;
    height: 1.392rem;
    border-bottom: 1px solid #dedede; }
    .main_info .card_title ul {
      height: 1.392rem;
      padding-top: 0; }
      .main_info .card_title ul li {
        width: 2.88rem;
        height: 1.376rem;
        overflow: hidden;
        border-left: 1px solid #00408f;
        border-right: 1px solid #00408f;
        border-top: 3px solid #00408f;
        position: relative; }
        .main_info .card_title ul li:before {
          position: absolute;
          content: '';
          width: 0.256rem;
          height: 0.256rem;
          left: 46%;
          background-color: #00408f;
          transform: rotate(45deg) translate(-50%, -50%); }
        .main_info .card_title ul li a {
          display: block;
          width: 100%;
          height: 1.36rem;
          background-color: #fff;
          font-size: 0.48rem;
          line-height: 1.36rem;
          color: #00408f;
          text-align: center; }
  .main_info .center {
    padding-top: 0.288rem;
    padding-bottom: 0.288rem; }
    .main_info .center img {
      max-width: 100%; }

.sele {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding-top: 0.272rem;
  padding-bottom: 0.272rem; }
  .sele .on {
    border: 2px solid #00408f;
    border-radius: 0.16rem; }
  .sele li {
    display: inline-block;
    width: 1.92rem;
    height: 0.8rem;
    margin: 3px; }
    .sele li a {
      display: block;
      width: 1.92rem;
      height: 0.8rem;
      font-size: 0.32rem;
      line-height: 0.8rem;
      color: #333; }

.pro_list {
  width: 110%;
  overflow: hidden;
  margin-top: 0.48rem; }
  .pro_list li {
    float: left;
    width: 5.456rem;
    height: 6.368rem;
    margin-right: 0.32rem;
    margin-bottom: 0.384rem; }
    .pro_list li .tit {
      display: block;
      width: 100%;
      height: 0.704rem;
      font-size: 0.384rem;
      line-height: 0.704rem;
      margin-top: 0.176rem;
      color: #333;
      text-align: center; }
    .pro_list li .pric {
      display: block;
      font-style: italic;
      width: 100%;
      height: 0.48rem;
      line-height: 0.48rem;
      font-size: 0.32rem;
      text-align: center;
      color: #666; }

.mini_menu {
  width: 100%;
  height: 1.472rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); }
  .mini_menu .center {
    text-align: center; }
    .mini_menu .center a {
      display: inline-block;
      margin: 0 0.48rem;
      height: 1.44rem;
      font-size: 0.384rem;
      line-height: 1.472rem;
      color: #333; }
    .mini_menu .center .on {
      color: #00408f;
      border-bottom: 0.032rem solid #00408f; }

.t1 {
  margin-top: 0.112rem;
  font-size: 0.48rem;
  line-height: 1.552rem;
  text-align: center;
  color: #00408f;
  position: relative; }
  .t1:after {
    position: absolute;
    content: '';
    width: 1.408rem;
    height: 1px;
    background-color: #00408f;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.t2 {
  font-size: 0.224rem;
  line-height: 0.224rem;
  text-align: center;
  color: #bebebe;
  font-style: italic;
  margin-top: 0.16rem; }

.t3 {
  margin-top: 0.272rem;
  font-size: 0.384rem;
  line-height: 0.672rem;
  color: #666;
  text-align: center;
  padding-bottom: 0.64rem; }

.hb_box {
  background-image: url(../images/jj_bg.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% 100%;
  overflow: hidden;
  padding-bottom: 0.64rem; }
  .hb_box .l1 {
    font-size: 0.48rem;
    line-height: 0.832rem;
    text-align: center;
    margin-top: 0.544rem;
    color: #fff; }
  .hb_box .l2 {
    font-size: 0.48rem;
    line-height: 0.832rem;
    text-align: center;
    color: #fff; }
  .hb_box .pm {
    text-align: center;
    margin-top: 0.72rem; }
    .hb_box .pm li {
      display: inline-block;
      width: 2.816rem;
      height: 2.4rem;
      margin-bottom: 0.912rem; }
      .hb_box .pm li .icon {
        display: block;
        width: 1.088rem;
        height: 1.088rem;
        margin: 0 auto; }
        .hb_box .pm li .icon img {
          display: block; }
      .hb_box .pm li .text {
        margin-top: 0.192rem;
        font-size: 0.32rem;
        line-height: 0.56rem;
        color: #fff; }

.blo {
  padding-top: 0.8rem; }
  .blo .title {
    font-size: 0.48rem;
    line-height: 0.48rem;
    color: #00408f;
    text-align: center; }
  .blo .smta {
    width: 5.216rem;
    height: 0.432rem;
    margin: 0.464rem auto 0; }
    .blo .smta img {
      display: block;
      width: 5.216rem;
      height: 0.432rem; }
  .blo .center {
    overflow: hidden;
    margin-top: 0.32rem;
    padding-bottom: 0.176rem; }
  .blo .smbl {
    width: 50%;
    padding: 0.48rem 0.24rem;
    box-sizing: border-box;
    float: left;
    border: 4px solid #f5f5f5; }
    .blo .smbl .sst {
      font-size: 0.384rem;
      line-height: 0.384rem;
      color: #666;
      padding-bottom: 0.416rem;
      position: relative; }
      .blo .smbl .sst:after {
        position: absolute;
        content: '';
        width: 0.256rem;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #999999; }
    .blo .smbl .ssmain {
      padding-top: 0.24rem;
      font-size: 0.32rem;
      line-height: 0.576rem;
      color: #999;
      text-align: justify; }

.hell {
  background-image: url(../images/hello.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  overflow: hidden; }
  .hell .smbl {
    width: 100%;
    padding: 0.48rem 0.4rem;
    box-sizing: border-box;
    float: left; }
    .hell .smbl .sst {
      font-size: 0.384rem;
      line-height: 0.384rem;
      color: #fff;
      padding-bottom: 0.416rem;
      position: relative; }
      .hell .smbl .sst:after {
        position: absolute;
        content: '';
        width: 0.256rem;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #fff; }
    .hell .smbl .ssmain {
      padding-top: 0.24rem;
      font-size: 0.32rem;
      line-height: 0.576rem;
      color: #fff;
      text-align: justify; }

.fztitle {
  font-size: 0.48rem;
  line-height: 0.48rem;
  color: #00408f;
  text-align: center;
  padding-top: 0.528rem; }

.fztitle_c {
  font-size: 0.384rem;
  line-height: 0.384rem;
  color: #333;
  text-align: center;
  margin-top: 0.24rem; }

.timeline {
  padding-top: 1.12rem;
  padding-bottom: 0.64rem;
  width: 10.064rem;
  padding-left: 0.608rem;
  border-left: 1px solid #ddd;
  position: relative; }
  .timeline:before {
    position: absolute;
    content: '';
    width: 0.208rem;
    height: 0.208rem;
    background-image: url(../images/tl_bg.png);
    top: -0.208rem;
    left: -0.112rem; }
  .timeline:after {
    position: absolute;
    content: 'FUTURE';
    font-size: 0.384rem;
    line-height: 0.384rem;
    color: #999;
    bottom: 0.32rem;
    left: 0.608rem; }
  .timeline li {
    width: 10.064rem;
    position: relative;
    padding-bottom: 0.64rem; }
    .timeline li:before {
      position: absolute;
      content: '';
      width: 0.208rem;
      height: 0.208rem;
      background-image: url(../images/timeline_bg.png);
      left: -0.72rem;
      top: 0.24rem;
      z-index: 10; }
    .timeline li .year {
      font-size: 0.576rem;
      color: #333;
      line-height: 0.736rem; }
    .timeline li .content {
      width: 7.024rem;
      font-size: 0.32rem;
      line-height: 0.56rem;
      color: #666; }
    .timeline li .img_box {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      right: 0;
      top: 0; }

.fz {
  padding-bottom: 0.96rem; }

.team_grou {
  overflow: hidden;
  width: 110%;
  margin-top: 0.64rem; }
  .team_grou li:first-child {
    width: 11.232rem;
    height: 11.52rem; }
    .team_grou li:first-child img {
      display: block;
      width: 11.232rem;
      height: 10.336rem; }
    .team_grou li:first-child .name {
      display: block;
      font-size: 0.384rem;
      line-height: 1.184rem;
      text-align: center;
      color: #333; }
  .team_grou li {
    float: left;
    width: 5.456rem;
    height: 6.192rem;
    margin-right: 0.32rem;
    margin-bottom: 0.224rem; }
    .team_grou li img {
      display: block;
      width: 5.456rem;
      height: 5.024rem; }
    .team_grou li .name {
      display: block;
      font-size: 0.384rem;
      line-height: 1.184rem;
      text-align: center;
      color: #333; }

.navigation {
  text-align: center; }
  .navigation li {
    width: 0.736rem;
    height: 0.72rem;
    display: inline-block;
    margin: 0 0.16rem; }
    .navigation li a {
      display: block;
      font-size: 0.32rem;
      line-height: 0.72rem;
      text-align: center;
      border: 1px solid #00408f;
      color: #00408f; }
  .navigation .on a {
    background-color: #00408f;
    color: #fff; }

.mapp {
  display: block;
  width: 5.28rem;
  height: 7.856rem;
  margin: 1.136rem auto 0; }

.coorp {
  font-size: 0.384rem;
  line-height: 1.12rem;
  margin-top: 0.4rem;
  color: #00408f; }

form {
  width: 110%;
  overflow: hidden; }
  form .inp1 {
    width: 5.44rem;
    height: 0.928rem;
    float: left;
    margin-right: 0.352rem;
    margin-bottom: 0.288rem;
    background-color: #f7f7f7;
    box-sizing: border-box; }
    form .inp1 label {
      float: left;
      width: 1.76rem;
      height: 0.928rem;
      font-size: 0.32rem;
      line-height: 0.928rem;
      color: #666; }
    form .inp1 input {
      float: left;
      width: 3.2rem;
      height: 0.928rem;
      border: 0;
      outline: 0;
      font-size: 0.32rem;
      line-height: 0.928rem;
      color: #666;
      background-color: transparent; }
    form .inp1 .mu {
      float: left;
      width: 0.48rem;
      height: 0.928rem;
      font-size: 0.32rem;
      line-height: 0.928rem;
      color: #fc2c2c;
      text-align: center; }
  form .inp2 {
    width: 11.232rem;
    height: 2.864rem;
    float: left;
    margin-right: 0.352rem;
    margin-bottom: 0.288rem;
    background-color: #f7f7f7;
    box-sizing: border-box; }
    form .inp2 label {
      float: left;
      width: 1.76rem;
      height: 2.864rem;
      font-size: 0.32rem;
      line-height: 2.864rem;
      color: #666; }
    form .inp2 textarea {
      float: left;
      width: 9.472rem;
      height: 2.864rem;
      border: 0;
      outline: 0;
      font-size: 0.32rem;
      line-height: 0.48rem;
      color: #666;
      background-color: transparent; }
  form input[type=submit] {
    display: block;
    width: 5.44rem;
    height: 1.28rem;
    font-size: 0.384rem;
    line-height: 1.28rem;
    text-align: center;
    color: #fff;
    float: left;
    background-color: #0b3364;
    border: 0;
    outline: 0;
    -webkit-appearance: none; }
  form input[type=reset] {
    display: block;
    width: 5.44rem;
    height: 1.28rem;
    font-size: 0.384rem;
    line-height: 1.28rem;
    text-align: center;
    color: #fff;
    float: left;
    margin-left: 0.352rem;
    background-color: #999999;
    border: 0;
    outline: 0;
    -webkit-appearance: none; }

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.main_box {
  margin-top: 0.8rem; }
  .main_box p {
    font-size: 0.4rem !important; }
  .main_box span {
    font-size: 0.4rem !important; }

.zp {
  margin-top: 0.624rem; }
  .zp li {
    background-color: #ededed;
    border-radius: 0.096rem;
    margin-bottom: 0.48rem; }
    .zp li a {
      display: block;
      box-sizing: border-box;
      padding: 0.784rem 0.592rem; }
      .zp li a .zp1 {
        font-size: 0.48rem;
        line-height: 0.48rem;
        color: #333; }
      .zp li a .zp2 {
        font-size: 0.32rem;
        line-height: 0.32rem;
        margin-top: 0.48rem;
        color: #666; }
        .zp li a .zp2 span {
          color: #00408f; }
      .zp li a .zp3 {
        font-size: 0.32rem;
        line-height: 0.32rem;
        margin-top: 0.64rem;
        color: #333; }
      .zp li a .zp4 {
        font-size: 0.32rem;
        color: #666;
        line-height: 0.56rem;
        margin-top: 0.176rem; }

.cibox {
  width: 110%;
  overflow: hidden; }
  .cibox li {
    width: 5.44rem;
    height: 4.816rem;
    float: left;
    margin-right: 0.368rem;
    margin-bottom: 0.368rem;
    padding-top: 0.624rem; }
    .cibox li .cia {
      display: block; }
    .cibox li .ci1 {
      height: 1.296rem;
      background-position: center;
      background-repeat: no-repeat; }
    .cibox li .ci2 {
      font-size: 0.384rem;
      line-height: 0.384rem;
      margin-top: 0.736rem;
      color: #333;
      text-align: center; }
    .cibox li .ci3 {
      font-size: 0.32rem;
      line-height: 0.64rem;
      color: #333;
      text-align: center;
      margin-top: 0.48rem; }
      .cibox li .ci3 a {
        display: block;
        width: 100%;
        text-align: center;
        color: #333; }

.om {
  margin-top: 0.768rem; }
  .om li {
    width: 10.496rem;
    padding-left: 0.64rem;
    background-image: url(../images/om.png);
    background-repeat: no-repeat;
    background-position: 0 0.16rem;
    margin-bottom: 0.48rem; }
    .om li .lm .text {
      text-align: justify;
      font-size: 0.32rem;
      line-height: 0.64rem;
      color: #0b3364; }
    .om li .lm .lmd {
      font-size: 0.32rem;
      line-height: 0.64rem;
      color: #999;
      text-align: right; }
    .om li .rm {
      padding: 0.4rem 0.48rem;
      background-color: #ededed;
      border-radius: 0.096rem;
      margin-top: 0.32rem;
      position: relative; }
      .om li .rm:before {
        position: absolute;
        content: '';
        width: 0.368rem;
        height: 0.32rem;
        top: -0.32rem;
        left: 0.32rem;
        background-image: url(../images/om_rbg.png); }
      .om li .rm .text {
        text-align: justify;
        font-size: 0.32rem;
        color: #666;
        line-height: 0.64rem; }
      .om li .rm .lmd {
        font-size: 0.32rem;
        line-height: 0.64rem;
        color: #999;
        text-align: right; }

.leave_mes {
  margin-bottom: 0.64rem; }
  .leave_mes select {
    float: left;
    width: 3.2rem;
    height: 0.928rem;
    border: 0;
    outline: 0;
    font-size: 0.32rem;
    line-height: 0.928rem;
    color: #666;
    background-color: transparent; }

.nl {
  padding-bottom: 0.64rem; }

.news_list {
  padding-bottom: 0.64rem; }
  .news_list li {
    margin-top: 0.48rem;
    padding-bottom: 0.48rem;
    padding-left: 4.672rem;
    border-bottom: 1px solid #e7e7e7;
    position: relative; }
    .news_list li img {
      display: block;
      width: 4.192rem;
      height: 2.432rem;
      position: absolute;
      left: 0; }
    .news_list li .title {
      font-size: 0.384rem;
      line-height: 0.384rem;
      color: #666;
      width: 100%;
      height: 0.416rem;
      overflow: hidden; }
    .news_list li .date {
      font-size: 0.32rem;
      line-height: 0.32rem;
      color: #999;
      margin-top: 0.256rem;
      padding-bottom: 0.56rem;
      position: relative; }
      .news_list li .date:after {
        width: 0.528rem;
        height: 0.08rem;
        content: '';
        position: absolute;
        background-color: #00408f;
        left: 0;
        bottom: 0; }
    .news_list li .summary {
      font-size: 0.32rem;
      line-height: 0.48rem;
      color: #999;
      width: 100%;
      height: 0.96rem;
      overflow: hidden; }

.bread {
  width: 100%;
  height: 1.008rem;
  box-sizing: border-box;
  padding: 0 0.48rem;
  background-color: #f5f5f5;
  font-size: 0.384rem;
  line-height: 1.008rem;
  color: #999; }
  .bread a {
    font-size: 0.384rem;
    line-height: 1.008rem;
    color: #999; }

.news_detail {
  padding-bottom: 0.64rem; }
  .news_detail .title {
    font-size: 0.768rem;
    line-height: 1.152rem;
    color: #333;
    width: 100%;
    height: 1.152rem;
    overflow: hidden;
    margin-top: 0.32rem; }
  .news_detail .info {
    width: 100%;
    height: 0.8rem;
    margin-top: 0.32rem;
    border-bottom: 1px solid #dedede; }
    .news_detail .info .time {
      font-size: 0.384rem;
      line-height: 0.8rem;
      float: left;
      color: #999; }
    .news_detail .info .read {
      font-size: 0.384rem;
      line-height: 0.8rem;
      float: right;
      color: #999; }
  .news_detail .main {
    padding-top: 0.32rem; }
    .news_detail .main img {
      max-width: 100% !important;
      margin-top: 0.32rem !important;
      margin-bottom: 0.32rem !important; }
    .news_detail .main p {
      font-size: 0.384rem !important; }
    .news_detail .main span {
      font-size: 0.384rem !important; }
