$tran: all 0.3s;

// 移动端定义px自动转rem函数
// 设计图宽		比例
// 640px		1.875
// 740px		1.66
// 750px		1.6
@function torem($px) {
	@return $px * 1.6 / 100px * 1rem;
}
// 移动端定义px自动转百分比函数
@function per($px) {
	@return $px / 750px * 100%;
}


.center {
	width: per(702px);
	margin: 0 auto;
	position: relative;
}

.header {
	width: 100%;
	height: torem(88px);
	background-color: #00408f;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	.center {
		overflow: hidden;
		height: torem(88px);
	}
	.logo {
		display: block;
		width: torem(90px);
		height: torem(63px);
		margin: torem(12px) auto 0;
		img {
			display: block;
			width: torem(90px);
			height: torem(63px);
		}
	}
	.menu {
		width: torem(36px);
		// height: torem(28px);
		.show {
			position: absolute;
			top: torem(30px);
			right: 0;
			display: block;
			width: torem(36px);
			// height: torem(28px);
			z-index: 10;
		}
		.hide {
			opacity: 0;
			position: absolute;
			top: torem(24px);
			right: 0;
			display: block;
			width: torem(36px);
			// height: torem(28px);
			z-index: 1;
		}
	}
	.fir_menu {
		display: none;
		width: 50%;
		padding-left: 50%;
		background-color: rgba(0,0,0,0.4);
		position: absolute;
		right: 0;
		z-index: 1001;
		overflow-y: scroll;
		.fir_item {
			width: 100%;
			border-bottom: 1px solid #fff;
			background-color: #235ea7;
			.fir_link {
				display: block;
				width: 100%;
				height: torem(70px);
				color: #fff;
				line-height: torem(70px);
				text-indent: torem(100px);
			}
			.sec_menu {
				display: none;
				width: 100%;
				overflow: hidden;
				background-color: #fff;
				.sec_item {
					width: 100%;
					.sec_link {
						text-align: center;
						display: block;
						height: torem(60px);
						color: #000;
						line-height: torem(60px);
					}
				}
			}
		}
	}
}
.header_be {
	height: torem(88px);
}

.banner {
	width: 100%;
	height: torem(400px);
	.banner_item {
		width: 100%;
		height: torem(400px);
		a {
			display: block;
			width: 100%;
			height: torem(400px);
			img {
				display: block;
				width: 100%;
				height: torem(400px);
			}
		}
	}
	.swiper-pagination {
		bottom: torem(25px);
		.swiper-pagination-bullet {
			width: torem(8px);
			height: torem(8px);
			border-radius: 50%;
			background-color: #fff;
			margin: 0 torem(6px);
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			border: torem(3px) solid #d8e7f7;
			position: relative;
			top: torem(3px);
		}

	}
}


.sc1 {
	overflow: hidden;
	background-image: url(../images/sc1bg.png);
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: torem(30px);
	.title {
		width: 100%;
		text-align: center;
		margin-top: torem(57px);
		span {
			display: inline-block;
			font-size: torem(34px);
			line-height: torem(34px);
			color: #00408f;
			position: relative;
			padding: 0 torem(14px);
			&:before {
				position: absolute;
				content: '';
				background-image: url(../images/title_left.png);
				background-repeat: no-repeat;
				background-position: right 0 center;
				width: torem(173px);
				height: torem(8px);
				left: torem(-173px);;
				top: torem(13px);;
			}
			&:after {
				position: absolute;
				content: '';
				background-image: url(../images/title_right.png);
				background-repeat: no-repeat;
				background-position: left 0 center;
				width: torem(173px);
				height: torem(8px);
				right: torem(-173px);;
				top: torem(13px);;
			}
		}
	}
	.sub_title {
		width: 100%;
		font-size: torem(24px);
		line-height: torem(24px);
		color: #00408f;
		margin-top: torem(30px);
		text-align: center;
	}
	.text {
		width: torem(647px);
		font-size: torem(24px);
		line-height: torem(48px);
		color: #666;
		margin: torem(46px) auto 0;
		text-align: center;
	}
	.video_box {
		width: torem(684px);
		height: torem(415px);
		margin: torem(37px) auto 0;
		video {
			width: torem(684px);
			height: torem(415px);
		}
	}
}

.sc2 {
	overflow: hidden;
	padding-bottom: torem(30px);
	.title {
		width: 100%;
		text-align: center;
		margin-top: torem(57px);
		span {
			display: inline-block;
			font-size: torem(34px);
			line-height: torem(34px);
			color: #00408f;
			position: relative;
			padding: 0 torem(14px);
			&:before {
				position: absolute;
				content: '';
				background-image: url(../images/title_left.png);
				background-repeat: no-repeat;
				background-position: right 0 center;
				width: torem(173px);
				height: torem(8px);
				left: torem(-173px);;
				top: torem(13px);;
			}
			&:after {
				position: absolute;
				content: '';
				background-image: url(../images/title_right.png);
				background-repeat: no-repeat;
				background-position: left 0 center;
				width: torem(173px);
				height: torem(8px);
				right: torem(-173px);;
				top: torem(13px);;
			}
		}
	}
	.news_group {
		margin-top: torem(45px);
		li:first-child {
			padding-bottom: torem(30px);
			border-bottom: 1px solid #dedede;
			img {
				display: block;
				width: torem(265px);
				height: torem(153px);
				float: left;
				margin-right: torem(20px);
			}
			.name {
				font-size: torem(24px);
				line-height: torem(36px);
				color: #505050;
				height: torem(72px);
				overflow: hidden;
			}
			.date {
				font-size: torem(24px);
				line-height: torem(26px);
				color: #9e9e9e;
				margin-top: torem(54px);
			}
		}
		li {
			padding-top: torem(29px);
			padding-bottom: torem(30px);
			border-bottom: 1px solid #dedede;
			a {
				display: block;
				.name {
					font-size: torem(24px);
					line-height: torem(36px);
					color: #505050;
					height: torem(36px);
					overflow: hidden;
				}
				.summary {
					font-size: torem(24px);
					line-height: torem(36px);
					color: #9e9e9e;
					height: torem(72px);
					overflow: hidden;
					margin-top: torem(28px);
				}
				.date {
					font-size: torem(24px);
					line-height: torem(26px);
					color: #9e9e9e;
					text-align: right;
				}
			}
		}
	}
	.more {
		display: block;
		width: torem(160px);
		height: torem(58px);
		font-size: torem(24px);
		line-height: torem(58px);
		text-align: center;
		color: #fff;
		margin: torem(30px) auto 0;
		background-color: #00408f;
		border-radius: torem(12px);
	}
}




.sc3 {
	overflow: hidden;
	background-image: url(../images/sc3bg.png);
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: torem(50px);
	.title {
		width: 100%;
		text-align: center;
		margin-top: torem(57px);
		span {
			display: inline-block;
			font-size: torem(34px);
			line-height: torem(34px);
			color: #00408f;
			position: relative;
			padding: 0 torem(14px);
			&:before {
				position: absolute;
				content: '';
				background-image: url(../images/title_left.png);
				background-repeat: no-repeat;
				background-position: right 0 center;
				width: torem(173px);
				height: torem(8px);
				left: torem(-173px);;
				top: torem(13px);;
			}
			&:after {
				position: absolute;
				content: '';
				background-image: url(../images/title_right.png);
				background-repeat: no-repeat;
				background-position: left 0 center;
				width: torem(173px);
				height: torem(8px);
				right: torem(-173px);;
				top: torem(13px);;
			}
		}
	}
	.product_clas_group {
		width: 100%;
		overflow: hidden;
		margin-top: torem(40px);
		text-align: center;
		li {
			// float: left;
			display: inline-block;
			width: torem(128px);
			height: torem(56px);
			border: 1px solid #5174c6;
			border-radius: torem(6px);
			margin-left: torem(6px);
			margin-right: torem(6px);
			margin-bottom: torem(14px);
			a {
				display: block;
				width: 100%;
				height: torem(56px);
				font-size: torem(24px);
				line-height: torem(56px);
				color: #00408f;
				text-align: center;
			}
		}
	}
	.product_swiper {
		height: torem(200px);
		margin-top: torem(106px);
		.swiper-slide {
			width: torem(200px);
			height: torem(184px);
			margin-top: 0;
			text-align: center;
			a {
				display: inline-block;
				img {
					width: torem(200px);
					height: torem(184px);
					display: block;

				}
			}
		}
		.swiper-slide-prev {
			width: torem(200px);
			height: torem(184px);
			margin-top: 0;
			text-align: center;
			transition: $tran;
			a {
				display: inline-block;
				transition: $tran;
				width: torem(200px);
				height: torem(184px);
				img {
					display: block;
					transition: $tran;
					width: torem(200px);
					height: torem(184px);
				}
			}
		}
		.swiper-slide-active {
			width: torem(250px);
			height: torem(230px);
			margin-top: torem(-64px);
			text-align: center;
			transition: $tran;
			a {
				display: inline-block;
				transition: $tran;
				width: torem(250px);
				height: torem(230px);
				img {
					display: block;
					transition: $tran;
					width: torem(250px);
					height: torem(230px);
				}
			}
		}
		.swiper-slide-next {
			width: torem(200px);
			height: torem(184px);
			text-align: center;
			margin-top: 0;
			transition: $tran;
			a {
				display:inline-block;
				transition: $tran;
				width: torem(200px);
				height: torem(184px);
				img {
					display: block;
					transition: $tran;
					width: torem(200px);
					height: torem(184px);
				}
			}
		}
	}
}





.sc4 {
	overflow: hidden;
	background-image: url(../images/sc4bg.png);
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: torem(50px);
	.center {
		margin-top: torem(40px);
		overflow: hidden;
		background-color: rgba(255,255,255,0.63);
	}
	.title {
		width: 100%;
		text-align: center;
		margin-top: torem(30px);
		span {
			display: inline-block;
			font-size: torem(34px);
			line-height: torem(34px);
			color: #00408f;
			position: relative;
			padding: 0 torem(14px);
			&:before {
				position: absolute;
				content: '';
				background-image: url(../images/title_left.png);
				background-repeat: no-repeat;
				background-position: right 0 center;
				width: torem(173px);
				height: torem(8px);
				left: torem(-173px);;
				top: torem(13px);;
			}
			&:after {
				position: absolute;
				content: '';
				background-image: url(../images/title_right.png);
				background-repeat: no-repeat;
				background-position: left 0 center;
				width: torem(173px);
				height: torem(8px);
				right: torem(-173px);;
				top: torem(13px);;
			}
		}
	}
	.brand_group {
		text-align: center;
		margin-top: torem(75px);
		li {
			display: inline-block;
			width: torem(180px);
			height: torem(74px);
			margin: 0 torem(22px) torem(54px);
			background-repeat: no-repeat;
			background-position: center;
			background-size: auto;
		}
	}
}










.sc5 {
	overflow: hidden;
	padding-bottom: torem(50px);
	.title {
		width: 100%;
		text-align: center;
		margin-top: torem(30px);
		span {
			display: inline-block;
			font-size: torem(34px);
			line-height: torem(34px);
			color: #00408f;
			position: relative;
			padding: 0 torem(14px);
			&:before {
				position: absolute;
				content: '';
				background-image: url(../images/title_left.png);
				background-repeat: no-repeat;
				background-position: right 0 center;
				width: torem(173px);
				height: torem(8px);
				left: torem(-173px);;
				top: torem(13px);;
			}
			&:after {
				position: absolute;
				content: '';
				background-image: url(../images/title_right.png);
				background-repeat: no-repeat;
				background-position: left 0 center;
				width: torem(173px);
				height: torem(8px);
				right: torem(-173px);;
				top: torem(13px);;
			}
		}
	}
	.team_group {
		width: 110%;
		overflow: hidden;
		margin-top: torem(40px);
		li {
			width: torem(341px);
			float: left;
			margin-right: torem(20px);
			margin-bottom: torem(15px);
			img {
				display: block;
				width: torem(341px);
				height: torem(314px);
			}
			.text {
				height: torem(73px);
				font-size: torem(24px);
				color: #333;
				line-height: torem(73px);
				text-align: center;
			}
		}
	}
	.more {
		display: block;
		width: torem(160px);
		height: torem(58px);
		font-size: torem(24px);
		line-height: torem(58px);
		text-align: center;
		color: #fff;
		margin: 0 auto;
		background-color: #00408f;
		border-radius: torem(12px);
	}
}


.sc6 {
	overflow: hidden;
	background-image: url(../images/sc3bg.png);
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: torem(50px);
	.title {
		width: 100%;
		text-align: center;
		margin-top: torem(57px);
		span {
			display: inline-block;
			font-size: torem(34px);
			line-height: torem(34px);
			color: #00408f;
			position: relative;
			padding: 0 torem(14px);
			&:before {
				position: absolute;
				content: '';
				background-image: url(../images/title_left.png);
				background-repeat: no-repeat;
				background-position: right 0 center;
				width: torem(173px);
				height: torem(8px);
				left: torem(-173px);;
				top: torem(13px);;
			}
			&:after {
				position: absolute;
				content: '';
				background-image: url(../images/title_right.png);
				background-repeat: no-repeat;
				background-position: left 0 center;
				width: torem(173px);
				height: torem(8px);
				right: torem(-173px);;
				top: torem(13px);;
			}
		}
	}
	.environment_clas_group {
		width: 100%;
		overflow: hidden;
		margin-top: torem(40px);
		text-align: center;
		li {
			// float: left;
			display: inline-block;
			width: torem(128px);
			height: torem(56px);
			border: 1px solid #5174c6;
			border-radius: torem(6px);
			margin-left: torem(6px);
			margin-right: torem(6px);
			margin-bottom: torem(14px);
			a {
				display: block;
				width: 100%;
				height: torem(56px);
				font-size: torem(24px);
				line-height: torem(56px);
				color: #00408f;
				text-align: center;
			}
		}
	}
	.environment_swiper {
		height: torem(200px);
		margin-top: torem(106px);
		.swiper-slide {
			width: torem(200px);
			height: torem(184px);
			margin-top: 0;
			text-align: center;
			a {
				display: inline-block;
				img {
					width: torem(200px);
					height: torem(184px);
					display: block;

				}
			}
		}
		.swiper-slide-prev {
			width: torem(200px);
			height: torem(184px);
			margin-top: 0;
			text-align: center;
			transition: $tran;
			a {
				display: inline-block;
				transition: $tran;
				width: torem(200px);
				height: torem(184px);
				img {
					display: block;
					transition: $tran;
					width: torem(200px);
					height: torem(184px);
				}
			}
		}
		.swiper-slide-active {
			width: torem(250px);
			height: torem(230px);
			margin-top: torem(-64px);
			text-align: center;
			transition: $tran;
			a {
				display: inline-block;
				transition: $tran;
				width: torem(250px);
				height: torem(230px);
				img {
					display: block;
					transition: $tran;
					width: torem(250px);
					height: torem(230px);
				}
			}
		}
		.swiper-slide-next {
			width: torem(200px);
			height: torem(184px);
			text-align: center;
			margin-top: 0;
			transition: $tran;
			a {
				display:inline-block;
				transition: $tran;
				width: torem(200px);
				height: torem(184px);
				img {
					display: block;
					transition: $tran;
					width: torem(200px);
					height: torem(184px);
				}
			}
		}
	}
}




.footer {
	width: 100%;
	height: torem(95px);
	background-color: #333;
	text-align: center;
	color: #999;
	font-size: torem(20px);
	line-height: torem(35px);
	padding-top: torem(20px);
	padding-bottom: torem(146px);
	a {
		color: #999;
	}
}






.footer_tab {
	width: 100%;
	height: torem(146px);
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #00408f;
	z-index: 1000;
	.tab:first-child {
		background:none;
	}
	.tab {
		a {
			display: block;
		}
		width: 25%;
		height: torem(146px);
		background-image: url(../images/footer_bg.png);
		background-repeat: no-repeat;
		background-position: 0 center;
		background-size: 1px torem(100px);
		float: left;
		overflow: hidden;
		.icon {
			width: torem(60px);
			height: torem(59px);
			margin: torem(23px) auto 0;
			img {
				display: block;
				width: torem(60px);
				height: torem(59px);
			}
		}
		.text {
			width: 100%;
			font-size: torem(28px);
			line-height: torem(40px);
			color: #fff;
			text-align: center;
			padding-top: torem(10px);
		}
	}
}





.pbi {
	width: 100%;
	height: torem(690px);
	position: relative;
	font-size: 0;
	img {
		display: block;
		height: torem(690px);
		width: 100%;
	}
	.sp {
		position: absolute;
		left: auto;
		right: torem(30px);
		bottom: torem(29px);
		text-align: center;
		width: torem(84px);
		height: torem(50px);
		color: #fff;
		z-index: 10;
		background-color: rgba(0,0,0,0.6);
		border-radius: torem(25px);
		font-size: torem(24px);
		line-height: torem(50px);
	}
}

.info_box {
	background-color: #fff;
	.center {
		padding-bottom: torem(28px);
		position: relative;
		overflow: hidden;
		.title {
			font-size: torem(30px);
			line-height: torem(58px);
			color: #282828;
			margin-top: torem(17px);
			width: 100%;
			height: torem(58px);
			overflow: hidden;
		}
		.abstract {
			font-size: torem(24px);
			line-height: torem(48px);
			color: #828282;
			width: 100%;
			height: torem(96px);
			overflow: hidden;
		}
		.ml {
			font-size: torem(24px);
			line-height: torem(24px);
			color: #333;
			margin-top: torem(16px);
		}
		.price {
			font-size: torem(24px);
			line-height: torem(24px);
			color: #00408f;
			margin-top: torem(30px);
		}
		.star {
			height: torem(35px);
			position: absolute;
			bottom: torem(56px);
			right: 0;
			span {
				display: block;
				width: torem(36px);
				height: torem(35px);
				background-image: url(../images/star.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: torem(36px) torem(35px);
				float: right;
			}
		}
	}
}

.main_info {
	background-color: #fff;
	width: 100%;
	margin-top: torem(20px);
	.card_title {
		width: 100%;
		height: torem(87px);
		border-bottom: 1px solid #dedede;
		ul {
			height: torem(87px);
			padding-top: 0;
			li {
				width: torem(180px);
				height: torem(86px);
				overflow: hidden;
				border-left: 1px solid #00408f;
				border-right: 1px solid #00408f;
				border-top: 3px solid #00408f;
				position: relative;
				&:before {
					position: absolute;
					content: '';
					width: torem(16px);
					height: torem(16px);
					left: 46%;
					background-color: #00408f;
					transform: rotate(45deg) translate(-50%, -50%);
				}
				a {
					display: block;
					width: 100%;
					height: torem(85px);
					background-color: #fff;
					font-size: torem(30px);
					line-height: torem(85px);
					color: #00408f;
					text-align: center;
				}
			}
		}
	}
	.center {
		padding-top: torem(18px);
		padding-bottom: torem(18px);
		img {
			max-width: 100%;
		}
	}
}




.sele {
	width: 100%;
	background-color: #fff;
	text-align: center;
	padding-top: torem(17px);
	padding-bottom: torem(17px);
	.on {
		border: 2px solid #00408f;
		border-radius: torem(10px);
	}
	li {
		display: inline-block;
		width: torem(120px);
		height: torem(50px);
		margin: 3px;
		a {
			display: block;
			width: torem(120px);
			height: torem(50px);
			font-size: torem(20px);
			line-height: torem(50px);
			color: #333;
		}
	}
}

.pro_list {
	width: 110%;
	overflow: hidden;
	margin-top: torem(30px);
	li {
		float: left;
		width: torem(341px);
		height: torem(398px);
		margin-right: torem(20px);
		margin-bottom: torem(24px);
		.tit {
			display: block;
			width: 100%;
			height: torem(44px);
			font-size: torem(24px);
			line-height: torem(44px);
			margin-top: torem(11px);
			color: #333;
			text-align: center;
		}
		.pric {
			display: block;
			font-style: italic;
			width: 100%;
			height: torem(30px);
			line-height: torem(30px);
			font-size: torem(20px);
			text-align: center;
			color: #666;
		}
	}
}



.mini_menu {
	width: 100%;
	height: torem(92px);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	.center {
		text-align: center;
		a {
			display: inline-block;
			margin: 0 torem(30px);
			height: torem(90px);
			font-size: torem(24px);
			line-height: torem(92px);
			color: #333;
		}
		.on {
			color: #00408f;
			border-bottom: torem(2px) solid #00408f;
		}
	}
}


.t1 {
	margin-top: torem(7px);
	font-size: torem(30px);
	line-height: torem(97px);
	text-align: center;
	color: #00408f;
	position: relative;
	&:after {
		position: absolute;
		content: '';
		width: torem(88px);
		height: 1px;
		background-color: #00408f;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%)
	}
}
.t2 {
	font-size: torem(14px);
	line-height: torem(14px);
	text-align: center;
	color: #bebebe;
	font-style: italic;
	margin-top: torem(10px);
}
.t3 {
	margin-top: torem(17px);
	font-size: torem(24px);
	line-height: torem(42px);
	color: #666;
	text-align: center;
	padding-bottom: torem(40px);
}



.hb_box {
	background-image: url(../images/jj_bg.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100% 100%;
	overflow: hidden;
	padding-bottom: torem(40px);
	.l1 {
		font-size: torem(30px);
		line-height: torem(52px);
		text-align: center;
		margin-top: torem(34px);
		color: #fff;
	}
	.l2 {
		font-size: torem(30px);
		line-height: torem(52px);
		text-align: center;
		color: #fff;
	}
	.pm {
		text-align: center;
		margin-top: torem(45px);
		li {
			display: inline-block;
			width: torem(176px);
			height: torem(150px);
			margin-bottom: torem(57px);
			.icon {
				display: block;
				width: torem(68px);
				height: torem(68px);
				margin: 0 auto;
				img {
					display: block;
				}
			}
			.text {
				margin-top: torem(12px);
				font-size: torem(20px);
				line-height: torem(35px);
				color: #fff;
			}
		}
	}
}






.blo {
	padding-top: torem(50px);
	.title {
		font-size: torem(30px);
		line-height: torem(30px);
		color: #00408f;
		text-align: center;
	}
	.smta {
		width: torem(326px);
		height: torem(27px);
		margin: torem(29px) auto 0;
		img {
			display: block;
			width: torem(326px);
			height: torem(27px);
		}
	}
	.center {
		overflow: hidden;
		margin-top: torem(20px);
		padding-bottom: torem(11px);
	}
	.smbl {
		width: 50%;
		padding: torem(30px) torem(15px);
		box-sizing: border-box;
		float: left;
		border: 4px solid #f5f5f5;
		.sst {
			font-size: torem(24px);
			line-height: torem(24px);
			color: #666;
			padding-bottom: torem(26px);
			position: relative;
			&:after {
				position: absolute;
				content: '';
				width: torem(16px);
				height: 1px;
				bottom: 0;
				left: 0;
				background-color: #999999;
			}
		}
		.ssmain {
			padding-top: torem(15px);
			font-size: torem(20px);
			line-height: torem(36px);
			color: #999;
			text-align: justify;
		}
	}
}



.hell {
	background-image: url(../images/hello.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	overflow: hidden;
	.smbl {
		width: 100%;
		padding: torem(30px) torem(25px);
		box-sizing: border-box;
		float: left;
		.sst {
			font-size: torem(24px);
			line-height: torem(24px);
			color: #fff;
			padding-bottom: torem(26px);
			position: relative;
			&:after {
				position: absolute;
				content: '';
				width: torem(16px);
				height: 1px;
				bottom: 0;
				left: 0;
				background-color: #fff;
			}
		}
		.ssmain {
			padding-top: torem(15px);
			font-size: torem(20px);
			line-height: torem(36px);
			color: #fff;
			text-align: justify;
		}
	}
}



.fztitle {
	font-size: torem(30px);
	line-height: torem(30px);
	color: #00408f;
	text-align: center;
	padding-top: torem(33px);
}

.fztitle_c {
	font-size: torem(24px);
	line-height: torem(24px);
	color: #333;
	text-align: center;
	margin-top: torem(15px);
}

.timeline {
	padding-top: torem(70px);
	padding-bottom: torem(40px);
	width: torem(629px);
	padding-left: torem(38px);
	border-left: 1px solid #ddd;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		width: torem(13px);
		height: torem(13px);
		background-image: url(../images/tl_bg.png);
		top: torem(-13px);
		left: torem(-7px);
	}
	&:after {
		position: absolute;
		content: 'FUTURE';
		font-size: torem(24px);
		line-height: torem(24px);
		color: #999;
		bottom: torem(20px);
		left: torem(38px);
	}
	li {
		width: torem(629px);
		position: relative;
		padding-bottom: torem(40px);
		&:before {
			position: absolute;
			content: '';
			width: torem(13px);
			height: torem(13px);
			background-image: url(../images/timeline_bg.png);
			left: torem(-45px);
			top: torem(15px);
			z-index: 10;
		}
		.year {
			font-size: torem(36px);
			color: #333;
			line-height: torem(46px);
		}
		.content {
			width: torem(439px);
			font-size: torem(20px);
			line-height: torem(35px);
			color: #666;
		}
		.img_box {
			width: torem(150px);
			height: torem(150px);
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
.fz {
	padding-bottom: torem(60px);
}
.team_grou {
	overflow: hidden;
	width: 110%;
	margin-top: torem(40px);
	li:first-child {
		width: torem(702px);
		height: torem(720px);
		img {
			display: block;
			width: torem(702px);
			height: torem(646px);
		}
		.name {
			display: block;
			font-size: torem(24px);
			line-height: torem(74px);
			text-align: center;
			color: #333;
		}
	}
	li {
		float: left;
		width: torem(341px);
		height: torem(387px);
		margin-right: torem(20px);
		margin-bottom: torem(14px);
		img {
			display: block;
			width: torem(341px);
			height: torem(314px);
		}
		.name {
			display: block;
			font-size: torem(24px);
			line-height: torem(74px);
			text-align: center;
			color: #333;
		}
	}
}





.navigation {
	text-align: center;
	li {
		width: torem(46px);
		height: torem(45px);
		display: inline-block;
		margin: 0 torem(10px);
		a {
			display: block;
			font-size: torem(20px);
			line-height: torem(45px);
			text-align: center;
			border: 1px solid #00408f;
			color: #00408f;
		}
	}
	.on {
		a {
			background-color: #00408f;
			color: #fff;
		}
	}
}



.mapp {
	display: block;
	width: torem(330px);
	height: torem(491px);
	margin: torem(71px) auto 0;
}
.coorp {
	font-size: torem(24px);
	line-height: torem(70px);
	margin-top: torem(25px);
	color: #00408f;
}
form {
	width: 110%;
	overflow: hidden;
	.inp1 {
		width: torem(340px);
		height: torem(58px);
		float: left;
		margin-right: torem(22px);
		margin-bottom: torem(18px);
		background-color: #f7f7f7;
		box-sizing: border-box;
		label {
			float: left;
			width: torem(110px);
			height: torem(58px);
			font-size: torem(20px);
			line-height: torem(58px);
			color: #666;
		}
		input {
			float: left;
			width: torem(200px);
			height: torem(58px);
			border: 0;
			outline: 0;
			font-size: torem(20px);
			line-height: torem(58px);
			color: #666;
			background-color: transparent;
		}
		.mu {
			float: left;
			width: torem(30px);
			height: torem(58px);
			font-size: torem(20px);
			line-height: torem(58px);
			color: #fc2c2c;
			text-align: center;
		}
	}
	.inp2 {
		width: torem(702px);
		height: torem(179px);
		float: left;
		margin-right: torem(22px);
		margin-bottom: torem(18px);
		background-color: #f7f7f7;
		box-sizing: border-box;
		label {
			float: left;
			width: torem(110px);
			height: torem(179px);
			font-size: torem(20px);
			line-height: torem(179px);
			color: #666;
		}
		textarea {
			float: left;
			width: torem(592px);
			height: torem(179px);
			border: 0;
			outline: 0;
			font-size: torem(20px);
			line-height: torem(30px);
			color: #666;
			background-color: transparent;
		}
	}
	input[type=submit] {
		display: block;
		width: torem(340px);
		height: torem(80px);
		font-size: torem(24px);
		line-height: torem(80px);
		text-align: center;
		color: #fff;
		float: left;
		background-color: #0b3364;
		border: 0;
		outline: 0;
		-webkit-appearance: none;
	}
	input[type=reset] {
		display: block;
		width: torem(340px);
		height: torem(80px);
		font-size: torem(24px);
		line-height: torem(80px);
		text-align: center;
		color: #fff;
		float: left;
		margin-left: torem(22px);
		background-color: #999999;
		border: 0;
		outline: 0;
		-webkit-appearance: none;
	}
}


.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.main_box {
	margin-top: torem(50px);
	p {
		font-size: 0.4rem!important;
	}
	span {
		font-size: 0.4rem!important;
	}
}


.zp {
	margin-top: torem(39px);
	li {
		background-color: #ededed;
		border-radius: torem(6px);
		margin-bottom: torem(30px);
		a {
			display: block;
			box-sizing: border-box;
			padding: torem(49px) torem(37px);
			.zp1 {
				font-size: torem(30px);
				line-height: torem(30px);
				color: #333;
			}
			.zp2 {
				font-size: torem(20px);
				line-height: torem(20px);
				margin-top: torem(30px);
				color: #666;
				span {
					color: #00408f;
				}
			}
			.zp3 {
				font-size: torem(20px);
				line-height: torem(20px);
				margin-top: torem(40px);
				color: #333;
			}
			.zp4 {
				font-size: torem(20px);
				color: #666;
				line-height: torem(35px);
				margin-top: torem(11px);
			}
		}
	}
}


.cibox {
	width: 110%;
	overflow: hidden;
	li {
		width: torem(340px);
		height: torem(301px);
		float: left;
		margin-right: torem(23px);
		margin-bottom: torem(23px);
		padding-top: torem(39px);
		.cia {
			display: block;
		}
		.ci1 {
			height: torem(81px);
			background-position: center;
			background-repeat: no-repeat;
		}
		.ci2 {
			font-size: torem(24px);
			line-height: torem(24px);
			margin-top: torem(46px);
			color: #333;
			text-align: center;
		}
		.ci3 {
			font-size: torem(20px);
			line-height: torem(40px);
			color: #333;
			text-align: center;
			margin-top: torem(30px);
			a {
				display: block;
				width: 100%;
				text-align: center;
				color: #333;
			}
		}
	}
}



.om {
	margin-top: torem(48px);
	li {
		width: torem(656px);
		padding-left: torem(40px);
		background-image: url(../images/om.png);
		background-repeat: no-repeat;
		background-position: 0 torem(10px);
		margin-bottom: torem(30px);
		.lm {
			.text {
				text-align: justify;
				font-size: torem(20px);
				line-height: torem(40px);
				color: #0b3364;
			}
			.lmd {
				font-size: torem(20px);
				line-height: torem(40px);
				color: #999;
				text-align: right;
			}
		}
		.rm {
			padding: torem(25px) torem(30px);
			background-color: #ededed;
			border-radius: torem(6px);
			margin-top: torem(20px);
			position: relative;
			&:before {
				position: absolute;
				content: '';
				width: torem(23px);
				height: torem(20px);
				top: torem(-20px);
				left: torem(20px);
				background-image: url(../images/om_rbg.png);
			}
			.text {
				text-align: justify;
				font-size: torem(20px);
				color: #666;
				line-height: torem(40px);
			}
			.lmd {
				font-size: torem(20px);
				line-height: torem(40px);
				color: #999;
				text-align: right;
			}
		}
	}
}



.leave_mes {
	margin-bottom: torem(40px);
	select {
		float: left;
		width: torem(200px);
		height: torem(58px);
		border: 0;
		outline: 0;
		font-size: torem(20px);
		line-height: torem(58px);
		color: #666;
		background-color: transparent;
	}
}

.nl {
	padding-bottom: torem(40px);
}
.news_list {
	padding-bottom: torem(40px);
	li {
		margin-top: torem(30px);
		padding-bottom: torem(30px);
		padding-left: torem(292px);
		border-bottom: 1px solid #e7e7e7;
		position: relative;
		img {
			display: block;
			width: torem(262px);
			height: torem(152px);
			position: absolute;
			left: 0;
		}
		.title {
			font-size: torem(24px);
			line-height: torem(24px);
			color: #666;
			width: 100%;
			height: torem(26px);
			overflow: hidden;
		}
		.date {
			font-size: torem(20px);
			line-height: torem(20px);
			color: #999;
			margin-top: torem(16px);
			padding-bottom: torem(35px);
			position: relative;
			&:after {
				width: torem(33px);
				height: torem(5px);
				content: '';
				position: absolute;
				background-color: #00408f;
				left: 0;
				bottom: 0;
			}
		}
		.summary {
			font-size: torem(20px);
			line-height: torem(30px);
			color: #999;
			width: 100%;
			height: torem(60px);
			overflow: hidden;
		}
	}
}


.bread {
	width: 100%;
	height: torem(63px);
	box-sizing: border-box;
	padding: 0 torem(30px);
	background-color: #f5f5f5;
	font-size: torem(24px);
	line-height: torem(63px);
	color: #999;
	a {
		font-size: torem(24px);
		line-height: torem(63px);
		color: #999;
	}
}


.news_detail {
	padding-bottom: torem(40px);
	.title {
		font-size: torem(48px);
		line-height: torem(72px);
		color: #333;
		width: 100%;
		height: torem(72px);
		overflow: hidden;
		margin-top: torem(20px);
	}
	.info {
		width: 100%;
		height: torem(50px);
		margin-top: torem(20px);
		border-bottom: 1px solid #dedede;
		.time {
			font-size: torem(24px);
			line-height: torem(50px);
			float: left;
			color: #999;
		}
		.read {
			font-size: torem(24px);
			line-height: torem(50px);
			float: right;
			color: #999;
		}
	}
	.main {
		padding-top: torem(20px);
		img {
			max-width: 100%!important;
			margin-top: torem(20px)!important;
			margin-bottom: torem(20px)!important;
		}
		p {
			font-size: torem(24px)!important;
		}
		span {
			font-size: torem(24px)!important;
		}
	}
}